html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
iframe{display:block;width:100%;border:none;overflow-y:auto;overflow-x:hidden;}
body{text-align:center;background-color:#000000;font-size:12px;font-family:Verdana,Helvetica,Sans-Serif;margin:0;padding:0;color:#dddddd;background-position:center top;background-repeat:repeat-x;}
a{color:#dddddd;text-decoration:none;}
a:visited{color:#dddddd;}
a:hover{color:#ffff00;}
a:active{color:#dddddd;}
p, ul{font-size:11px;margin-bottom:10px;line-height:12px;}
h1, h2, h3, h4, h5, h6{color:#dddddd;font-family:Arial,Helvetica,sans-serif;}
h1{font-size:24px;padding-bottom:0;margin-bottom:0;}
h2{font-size:20px;}
h3{font-size:17px;}
h4{font-size:14px;}
h5, h6{font-size:1em;}
input[type='button']{cursor:pointer;}
#content{margin:0 auto;width:auto;text-align: left;display:inline-block;}
#footer{font-size:10px;text-align:left;padding:8px 0 0 0;margin-top:8px;}
#rankingsFormResult{width:100%;}
#rankingsForm {display:block;background-color:#222222;height:64px;padding:8px;margin-bottom:8px;border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;}
#rankingsForm fieldset{border:0 none;float:left;height:48px;margin:0;}
#rankingsForm fieldset.border{border:1px solid #444444;padding:4px 8px 8px 8px;margin:0 4px;}
#rankingsForm fieldset legend{color: #ffffff;font-family: Georgia,"Times New Roman",Times,serif;font-size:16px;padding-bottom:4px;}
#rankingsFormSubmit{margin-top:4px;}
#noScriptWarning{font-family:sans-serif;position:fixed;top:0;width:100%;zindex:101;text-align:center;font-weight:bold;font-size:120%;color:#ffffff;background:#ae0000;padding:5px 0 5px 0;}
#noScriptPadding{padding-top:24px;}
table.RankTable{color:#cccccc;border:1px solid #444444;margin-top:8px;}
table.RankTable th{color:#dddddd;border-left:1px solid #444444;border-bottom:1px solid #444444;padding:6px 5px;text-align:left;background:#222222;}
table.RankTable td{padding:5px;border-bottom:1px solid #444444;background:#111111;}
table.RankTable th a{color:#dddddd;text-decoration:underline;}
table.RankTable th a:visited{color:#dddddd;text-decoration:underline;}
table.RankTable th a:hover{color:#ffff00;text-decoration:underline;}
table.RankTable th a:active{color:#dddddd;text-decoration:underline;}
table.CharStatTable th{font-size:10px;color:#dddddd;border-left:1px solid #444444;border-bottom:1px solid #444444;padding:6px 5px;text-align:left;background:#222222;}
table.CharStatTable td{font-size:10px;padding:5px;border-bottom:1px solid #444444;background:#000000;}
div.pagination{text-align:left;padding:4px 0 0 0;}
div.pagination a{font-size:11px;color:#cccccc;text-decoration:none;padding:0 4px 0 4px;margin:0 2px;}
div.pagination a.selected{background:#3399cc;color:#ffff00;border-radius:2px 2px 2px 2px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;}
div.pagination a:hover{background:#ffff00;color:#000000;border-radius:2px 2px 2px 2px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;}
div.pagination span.overview{float:left;color:#cccccc;}
.RankIcon{background:url("ranks.png") repeat scroll 0 0 transparent;background-repeat:no-repeat;display:inline-table;height:16px;width:32px;cursor:pointer;}
.Rank01{background-position:0px 0px;}
.Rank02{background-position:0px -32px;}
.Rank03{background-position:0px -64px;}
.Rank04{background-position:0px -96px;}
.Rank05{background-position:0px -128px;}
.Rank06{background-position:0px -160px;}
.Rank07{background-position:0px -192px;}
.Rank08{background-position:0px -224px;}
.Rank09{background-position:0px -256px;}
.Rank10{background-position:0px -288px;}
.Rank11{background-position:0px -320px;}
.Rank12{background-position:0px -352px;}
.Rank13{background-position:0px -384px;}
.Rank14{background-position:0px -416px;}
.Rank15{background-position:0px -448px;}
.Rank16{background-position:0px -480px;}
.Rank17{background-position:0px -512px;}
.Rank18{background-position:0px -544px;}
.Rank19{background-position:0px -576px;}
.Rank20{background-position:0px -608px;}
.Rank21{background-position:0px -640px;}
.Rank22{background-position:0px -672px;}
.Rank23{background-position:0px -704px;}
.Rank24{background-position:0px -736px;}
.Rank25{background-position:0px -768px;}
.Rank26{background-position:0px -800px;}
.Rank27{background-position:0px -832px;}
.Rank28{background-position:0px -864px;}
.Rank29{background-position:0px -896px;}
.Rank30{background-position:0px -928px;}
.Rank31{background-position:0px -960px;}
.Rank32{background-position:0px -992px;}
.Rank33{background-position:0px -1024px;}
.ClassIcon{background:url("classes.png") repeat scroll 0 0 transparent;background-repeat:no-repeat;display:inline-table;height:16px;width:16px;cursor:pointer;}
.Fighter{background-position:0px 0px;}
.Warrior{background-position:0px 0px;}
.Defender{background-position:-16px 0px;}
.Guardian{background-position:-16px 0px;}
.Ranger{background-position:-32px 0px;}
.Assassin{background-position:-32px 0px;}
.Priest{background-position:-48px 0px;}
.Oracle{background-position:-48px 0px;}
.Mage{background-position:-64px 0px;}
.Pagan{background-position:-64px 0px;}
.Archer{background-position:-80px 0px;}
.Hunter{background-position:-80px 0px;}
.left{float:left;}
.right{float:right;}
.title{margin:8px 0;}
.AoL{background:#cccccc;width:100%;height:100%;display:block;border-radius:2px 2px 2px 2px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;}
.UoF{background:#333333;width:100%;height:100%;display:block;border-radius:2px 2px 2px 2px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;}
.CharName{cursor:pointer;}
.CharName:hover{color:#ffff00;}
.GearStat{color:#ffff00;font-size:10px;}
.Online{color:#ffff00;}
.Bold{font-weight:bold;}
.ajaxLoaderContainer {height:100px;width:200px;position:relative;background:#000000;}
.ajaxLoader{width:32px;height:32px;position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-16px;display:block;background:url("./ajax-loader.gif");background-repeat:no-repeat;}